<meta class="mktoColor" id="emailBackgroundColor" mktoname="Email Background Color" default="#cdccc7" mktomodulescope="false" /> 

    <meta class="mktoColor" id="headerBackgroundColor" mktoname="Module Background" default="#ffffff" mktomodulescope="true" /> 
    <meta class="mktoColor" id="headerBorderColor" mktoname="Module Border Border Color" default="#facb10" mktomodulescope="true" /> 
    <meta class="mktoNumber" id="headerSpacer" mktoname="Top Spacer" default="20" min="1" max="300" units="px" step="1" mktomodulescope="true" /> 
    <meta class="mktoNumber" id="headerSpacer2" mktoname="Spacer Below Right Image" default="8" min="1" max="300" units="px" step="1" mktomodulescope="true" /> 
    <meta class="mktoNumber" id="headerSpacer3" mktoname="Bottom Spacer" default="20" min="1" max="300" units="px" step="1" mktomodulescope="true" /> 
    
     
     <meta class="mktoImg" id="heroBackgroundImage" mktoname="Background Image" default="http://templates.marketo.net/newsletter4/bg-hero.jpg" mktomodulescope="true" /> 
     
    <meta class="mktoColor" id="heroBackgroundColor" mktoname="Hero Background" default="#f5f5f5" mktomodulescope="true" /> 
    <meta class="mktoNumber" id="heroHeadlinePadding" mktoname="Headline Padding" default="20" min="0" max="300" units="px" step="1" mktomodulescope="true" />
    <meta class="mktoNumber" id="heroSubHeadlinePadding" mktoname="Sub Headline Padding" default="20" min="0" max="300" units="px" step="1" mktomodulescope="true" />
    <meta class="mktoNumber" id="heroCallToActionPadding" mktoname="Call to Action Padding" default="20" min="0" max="300" units="px" step="1" mktomodulescope="true" />    